swagger: '2.0'
info:
  version: 1.0.0
  title: YellowAnt API
  contact:
    name: YellowAnt API
    url: 'https://www.yellowant.com/'
    email: vishwa@yellowant.com
  license:
    name: YellowAnt
    url: 'https://yellowant.com/common/privacy//'
  termsOfService: 'https://yellowant.com/common/terms/'
  x-logo:
    url: >-
      https://ya-production.s3.amazonaws.com/static/clients/dist/YellowAnt-new.png
    backgroundColor: '#FFFFFF'
  description: >
    # Introduction

    YellowAnt is an assistant bot that gets work done. YellowAnt makes it
    insanely easy to manage your code repositories, track issues and tasks for
    the day across multiple apps like Github, Bitbucket, Trello and Asana.
    YellowAnt helps you respond 2X faster to new issues or tickets, restores the
    sanity of discussions and events around you and makes you more productive.
    YellowAnt is delightfully easy to use and helps you seamlessly manage your
    workplace apps, get regular updates and take actions through simple,
    intuitive text commands. YellowAnt is even more powerful in your team Slack
    where you can quickly take actions, generate reports, pull data and do a lot
    more from within your Slack/Teams Channels and Groups


    <!-- ReDoc-Inject: <security-definitions> -->
schemes:
  - https
x-servers:
  - url: //api.yellowant.com/api
    description: Live Server
produces:
  - application/json
consumes:
  - application/json
securityDefinitions:
  APIKey:
    type: apiKey
    name: Authorization
    in: header
security:
  - APIKey: []
responses:
  AccessForbidden:
    description: 'Access forbidden, invalid API-KEY was used'
    schema:
      $ref: '#/definitions/Error'
  NotFound:
    description: Resource was not found
    schema:
      $ref: '#/definitions/Error'
host: api.yellowant.com
basePath: /api
tags:
  - name: Authorization
  - name: User
  - name: Integration
  - name: Messaging
    description: >
      # Sending messages to the User

      YellowAnt allows you to send simple messages to the user in case of new
      updates or events. There are two ways of sending a message to a user:


      1) Simple Message - Use this message to send a normal YellowAnt message to
      a user about any notification related to the user integration account


      2) Webhook Message - This message is exactly like a simple message, except
      you append data along with the message. You will need to define a Webhook
      function in your YellowAnt application in the developer console and send
      this message to that webhook function. A user can use a Webhook message to
      not only notify through YellowAnt, but to also trigger an Event Workflow.
